@keyframes scroll-Y {
  from { background-position: 0 0;}
  to {background-position: 0 5px;}
}
@keyframes scroll-Y-100px {
  from { background-position: 0 0;}
  to {background-position: 200px 200px;}
}

@keyframes flickering {
    from {opacity: 0.75;}
    to {opacity: 1;}
}

main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.Flickering {
    animation: flickering 0.07s infinite
}

.Scanlines {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -25;

    opacity: 0.5;
    background: linear-gradient(rgb(18, 16, 16) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0), rgba(0, 255, 0, 0), rgba(0, 0, 255, 0));

    background-size: 100% 5px;
    animation: scroll-Y 1s linear infinite;
    pointer-events: none;
}

/* .TileBackground {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -100;

    opacity: 0.5;
    background-image: url(Sky.png);
    background-size: fill;
    background-size: 200px 200px;
    animation: scroll-Y-100px 5s linear infinite;
    pointer-events: none
} */

.Banner {
    width: 100%;
    height: 50px;
    padding: 24px 16px 48px;
    /* gap: 10px; */
}

.GameListContainer {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* gap: 10px; */
    margin: 0 4px;
}

/* .LinkContainer {
    padding: 5px 5px;
    border-radius: var(--BorderRounding);
    background-color: var(--BoxColor);
    text-decoration: none;
    display: flex;
    flex-direction: row;
} */

/* .LinkContainer:hover { */
    /* scale: (1.2); */
    /* background-color: var(--BoxHighlightColor); */
    /* border: var(--BorderStrokeSize) var(--BoxBorderHighlightColor); */
    /* border-left: 10px solid var(--BoxBorderHighlightColor); */
/* } */

.VolumeButton {
    text-decoration: none !important;
    border-radius: var(--BorderRounding);
    background-color: var(--BoxColor);
    /* border: var(--BorderStrokeSize) var(--BoxBorderColor); */
    /* box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor); */
}

.PostContainer {
    width: 100%;
    gap: 10px;
    clear: right;
    background-color: var(--BoxColor);
    border-radius: var(--BorderRounding);
    text-decoration: none;
}

.ImagePostContainer {
    max-width: 33.33%;
    max-height: 100%;
    width: 32%;
    height: 200px;
    border-radius: var(--BorderRounding);
    background-color: var(--BackgroundColor);
    /* border: 1px solid var(--BoxBorderColor); */
    text-decoration: none;
    /* border-left: 5px solid var(--BoxBorderColor); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* transform: skew(-5deg); */

    /* border: var(--BorderStrokeSize) var(--BoxBorderColor); */
    /* box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor); */
    border-radius: var(--BorderRounding);
}
.ImagePost {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ImagePostDate {
    background-color: var(--BoxBorderColor);
    text-align: right;
    padding: 8px !important;
    margin: 0;
    margin-top: -2px;
}

.LinkIcon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.Badge {
    font-size: 0.875rem;
    background-color: #11111100;
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
    padding: 6px 10px;
    margin-left: auto;
}

.GameContainer {
    text-decoration: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    border-radius: var(--BorderRounding);
    /* border: var(--BorderStrokeSize) var(--BoxBorderColor); */
    background: #111;
    transform: translate(0%);
}
.GameBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px) brightness(0.4);
    background-image: url(GameIcons/TetheredDescent.webp);
    background-position: center;
}

i {
  font-size: 0.875rem;
  text-align: center;
}

.LinkButton {
    text-decoration: none !important;
    justify-content: center;
    /* aspect-ratio: 1; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33.2%;
    height: 5%;
    background-color: var(--BoxColor);
    /* border: var(--BorderStrokeSize) var(--BoxBorderColor); */
    /* box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor); */
    border-radius: var(--BorderRounding);
}

.HeaderText {
    margin: 0px 0px 0px 0px;
    display: block;
}
.HeaderDivider {
    flex: 1;
    height: 2px;
    margin-right: 8px;
    background-color: var(--DefaultTextColor);
}

@media screen and (max-width: 1322px) {
    main {
        flex-direction: column;
        /* width: 90%; */
        /* align-items: stretch; */
        /* max-width: 1000px; */
    }
    .MainContainer {
        width: 100%;
    }
}

/* span,h1,h2,p,marquee,i,a {
    color: var(--DefaultTextColor);
    font-size: 0.875rem;
}

h2 {
   font-size: 1.5rem; 
}

span {
    margin-top: auto;
    margin-bottom: auto;
} */
/* Everything new will be added bellow this line AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
/* Everything new will be added bellow this line AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
/* Everything new will be added bellow this line AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
/* Everything new will be added bellow this line AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

h2 {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #e94179;
    margin: 5px;
}

p {
    margin: 10px;
}

body {
    font-family: 'Source Code Pro';
    color: var(--DefaultTextColor);
    image-rendering: pixelated;
}

.SkyBackground {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -100;
    background-image: url(Images/CloudsBG.png);
    filter: hue-rotate(128deg) brightness(0.2);
    background-size: cover;
    pointer-events: none
}


#Shader {
    z-index: -98;
    /* opacity: 0.5; */
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

/* Banner config*/
.BannerContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
    height: 10%;
    overflow: hidden;
    position: relative;
}

.BannerBG {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(Images/CloudsBG.png);
    background-size: cover;
    mix-blend-mode: color-dodge;
    filter: hue-rotate(169deg);
    border-radius: 10px;
    opacity: 0.5;
}

.LogoText {
    font-size: 80px; 
    margin: 0; 
    text-align: center; 
    font-family: 'Jersey 10';
}

.WarningBanner {
    background: repeating-linear-gradient(45deg,#3a1419, #3a1419 30px, #e43e59 0, #e43e59 60px);
    padding: 5px;
    color: #ffe9e9;
    border-radius: 10px;
    margin: 5px;
}

/* End of banner config*/

/* Main config*/
.Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MainContainer {
    width: 700px;
}

.MainArtContainer {
    width: 350px;
}
.MainLinkContainer {
    width: 350px;
}
.MainNavigationContainer {
    width: 350px;
}

/* End of main config*/
.BoxContainer {
    background-color: #000000a4;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

.ArtBoxContainer {
    background-color: #000000a4;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

.LinkBoxContainer {
    background-color: #000000a4;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}

.ListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.HorizoltalListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.LinkContainer {
    display: flex;
    flex-direction: column;
}

.NavigationButtons {
    display: flex;
    flex-direction: column;
}

.ArtImageCard {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 4px;
    object-fit: cover;
}

.FeaturedArtImageCard {
    width: 100px;
    margin: 5px;
    border-radius: 4px;
}

.ProfoloPfp {
    width: 100px;
    height: 100px;
}

.ProfoloHolder {
    display: flex;
    margin: 10px;
}

.WebringStamp {
    height: 58px;
}
/* Custom details config*/
.PinkGlow {
    text-shadow: 0 0 10px #ffffff00, 0 0 20px #ffffff80, 0 0 30px #e6003659, 0 0 40px #e6000000, 0 0 50px #e6004d3d, 0 0 60px #e6004d29, 0 0 70px #e6004d57;
}

.IntoductionCardGif {
    width: 150px;
    float: left;
}

/* Marquee config*/
.MarqueeContent {
    white-space: nowrap; 
    overflow: hidden;
}

.MarqueeMain {
    display: inline-block; 
    animation: MarqueeAnimation 15s linear infinite;
}

.MarqueeGradient {
    mask-image: linear-gradient(to left, transparent, transparent 2%, white);
}

@keyframes MarqueeAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}