@keyframes scrollY {
  from { background-position: 0 0; }
  to   { background-position: 0 10px; }
}

body {
    font-family: 'Source Code Pro';
    background-color: var(--BackgroundColor);
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
}

main {
    max-width: 75%;
    margin: 0 auto;
    padding: 24px 16px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.MainContainer {
    width: 750px;
    padding: 24px 16px 48px;
    gap: 10px;
}

span,h1,h2,p,marquee,i {
    color: var(--DefaultTextColor);
}

span {
    margin-top: auto;
    margin-bottom: auto;
}

.ListContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.GameListContainer {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin: 0 4px;
}

.LinkContainer {
    padding: 5px 5px;
    border-radius: var(--BorderRounding);
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* border-left: 5px solid var(--BoxBorderColor); */

    /* transform: skew(-5deg); */
}

.LinkContainer:hover {
    scale: (1.2);
    background-color: var(--BoxHighlightColor);
    border: var(--BorderStrokeSize) var(--BoxBorderHighlightColor);
    border-left: 10px solid var(--BoxBorderHighlightColor);
}

.PostListContainer {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.PostContainer {
    clear: right;
    padding: 16px 14px;
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
    text-decoration: none;
    gap: 10px;
    /* border-left: 5px solid var(--BoxBorderColor); */
    /* transform: skew(-5deg); */
}

.ImagePostContainer {
    max-width: 138px;
    max-height: 200px;
    width: 150px;
    height: 200px;
    border-radius: var(--BorderRounding);
    background-color: var(--BackgroundColor);
    /* border: 1px solid var(--BoxBorderColor); */
    text-decoration: none;
    /* border-left: 5px solid var(--BoxBorderColor); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* transform: skew(-5deg); */

    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
}
.ImagePost {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ImagePostDate {
    background-color: var(--BoxBorderColor);
    text-align: right;
    padding: 8px !important;
    margin: 0;
    margin-top: -2px;
}

.LinkIcon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.Badge {
    font-size: 12px;
    background-color: #11111100;
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
    padding: 6px 10px;
    margin-left: auto;
}

.GameContainer {
    text-decoration: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    border-radius: var(--BorderRounding);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    background: #111;
    transform: translate(0%);
}
.GameBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px) brightness(0.4);
    background-image: url(GameIcons/TetheredDescent.webp);
    background-position: center;
}

i {
  font-size: 30px;
  text-align: center;
}

.LinkButton {
    text-decoration: none !important;
    justify-content: center;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
}

.HeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
}
.HeaderText {
    margin: 10px;
    margin-left: 0px;
    display: block;
}
.HeaderDivider {
    flex: 1;
    height: 2px;
    margin-right: 8px;
    background-color: var(--DefaultTextColor);
}

@media screen and (max-width: 1322px) {
    main {
        flex-direction: column;
        width: 90%;
        /* align-items: stretch; */
        /* max-width: 1000px; */
    }
    .MainContainer {
        width: 96%;
    }
}