@keyframes scroll-Y {
  from { background-position: 0 0;}
  to {background-position: 0 5px;}
}
@keyframes scroll-Y-100px {
  from { background-position: 0 0;}
  to {background-position: 200px 200px;}
}

body {
    font-family: 'Source Code Pro';
    background-color: var(--BackgroundColor);
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
}

main {
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
    /* padding: 24px 16px 48px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.Scanlines {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -25;

    opacity: 0.5;
    background: linear-gradient(rgb(18, 16, 16) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0), rgba(0, 255, 0, 0), rgba(0, 0, 255, 0));

    background-size: 100% 5px;
    animation: scroll-Y 1s linear infinite;
    pointer-events: none
}

.TileBackground {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -100;

    opacity: 0.2;
    background-image: url(Texture.png);

    background-size: 200px 200px;
    animation: scroll-Y-100px 5s linear infinite;
    pointer-events: none
}

.ColoredBackground {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -98;
    
    opacity: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0) 50%), 
        linear-gradient(45deg, rgb(255, 0, 0), 
        rgb(165, 52, 194), rgb(0, 0, 255));

    background-size: 100% 100%;
    pointer-events: none
}

.Shader {
    z-index: -98;
    /* opacity: 0.5; */
    width: 100%;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.Banner {
    width: 100%;
    height: 50px;
    padding: 24px 16px 48px;
    /* gap: 10px; */
}
.MainContainer {
    /* display: contents; */
    width: 33%;

    display: grid;
    flex-direction: row;
    /* justify-content: center; */

    padding: 0px 0px 0px 0px;
    /* gap: 10px; */
}

span,h1,h2,p,marquee,i,a {
    color: var(--DefaultTextColor);
    font-size: 0.875rem;
}

h2 {
   font-size: 1.5rem; 
}

span {
    margin-top: auto;
    margin-bottom: auto;
}

.ListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.GameListContainer {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* gap: 10px; */
    margin: 0 4px;
}

.LinkContainer {
    padding: 5px 5px;
    border-radius: var(--BorderRounding);
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* border-left: 5px solid var(--BoxBorderColor); */

    /* transform: skew(-5deg); */
}

.LinkContainer:hover {
    scale: (1.2);
    background-color: var(--BoxHighlightColor);
    border: var(--BorderStrokeSize) var(--BoxBorderHighlightColor);
    border-left: 10px solid var(--BoxBorderHighlightColor);
}

.VolumeButton {
    text-decoration: none !important;
    border-radius: var(--BorderRounding);
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
}

.PostListContainer {
    /* width: 100%; */
    height: 10%;
    /* gap: 10px; */
    display: flex;
    flex-wrap: wrap;

    padding: 10px 10px 10px 10px;
}
.PostContainer {
    width: 100%;
    
    clear: right;
    padding: 16px 14px;
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
    text-decoration: none;

    /* gap: 10px; */
    /* border-left: 5px solid var(--BoxBorderColor); */
}

.ImagePostContainer {
    max-width: 33.33%;
    max-height: 200px;
    width: 32%;
    height: 200px;
    border-radius: var(--BorderRounding);
    background-color: var(--BackgroundColor);
    /* border: 1px solid var(--BoxBorderColor); */
    text-decoration: none;
    /* border-left: 5px solid var(--BoxBorderColor); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* transform: skew(-5deg); */

    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
}
.ImagePost {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ImagePostDate {
    background-color: var(--BoxBorderColor);
    text-align: right;
    padding: 8px !important;
    margin: 0;
    margin-top: -2px;
}

.LinkIcon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.Badge {
    font-size: 0.875rem;
    background-color: #11111100;
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
    padding: 6px 10px;
    margin-left: auto;
}

.GameContainer {
    text-decoration: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    border-radius: var(--BorderRounding);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    background: #111;
    transform: translate(0%);
}
.GameBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px) brightness(0.4);
    background-image: url(GameIcons/TetheredDescent.webp);
    background-position: center;
}

i {
  font-size: 0.875rem;
  text-align: center;
}

.LinkButton {
    text-decoration: none !important;
    justify-content: center;
    /* aspect-ratio: 1; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 33.2%;
    height: 5%;
    background-color: var(--BoxColor);
    border: var(--BorderStrokeSize) var(--BoxBorderColor);
    box-shadow: 0px 0px var(--BorderGlowSize) var(--BoxBorderColor);
    border-radius: var(--BorderRounding);
}

.HeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
}
.HeaderText {
    margin: 10px;
    margin-left: 0px;
    display: block;
}
.HeaderDivider {
    flex: 1;
    height: 2px;
    margin-right: 8px;
    background-color: var(--DefaultTextColor);
}

@media screen and (max-width: 1322px) {
    main {
        flex-direction: column;
        /* width: 90%; */
        /* align-items: stretch; */
        /* max-width: 1000px; */
    }
    .MainContainer {
        width: 100%;
    }
}