@keyframes scrollY {
  from { background-position: 0 0; }
  to   { background-position: 0 10px; }
}

body {
    font-family: 'Source Code Pro';
    background-color: var(--BackgroundColor);
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    /* background-image: url(Sky.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

main {
    max-width: 75%;
    margin: 0 auto;
    padding: 24px 16px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.BG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.02;
    background-image: url(ScanlinesTexture.png);
    background-repeat: repeat;
    background-size: 10px 10px;
    animation: scrollY 0.25s linear infinite;
    z-index: -10;
}

.MainContainer {
    width: 720px;
    padding: 24px 16px 48px;
}

span,h1,h2,p,marquee {
    color: var(--DefaultTextColor);
}

span {
    margin-top: auto;
    margin-bottom: auto;
}

.ListContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.GameListContainer {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin: 0 4px;
}

.LinkContainer {
    padding: 16px 14px;
    /* border-radius: 10px; */
    background-color: var(--BoxColor);
    border: 2px solid var(--BoxBorderColor);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-left: 5px solid var(--BoxBorderColor);

    /* transform: skew(-5deg); */
}

.LinkContainer:hover {
    scale: (1.2);
    background-color: var(--BoxHighlightColor);
    border: 2px solid var(--BoxBorderHighlightColor);
    border-left: 10px solid var(--BoxBorderHighlightColor);
}

.PostListContainer {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.PostContainer {
    clear: right;
    padding: 16px 14px;
    background-color: var(--BoxColor);
    border: 2px solid var(--BoxBorderColor);
    text-decoration: none;
    gap: 10px;
    border-left: 5px solid var(--BoxBorderColor);
    /* transform: skew(-5deg); */
}

.ImagePostContainer {
    max-width: 150px;
    max-height: 200px;
    width: 150px;
    height: 200px;

    background-color: var(--BackgroundColor);
    border: 2px solid var(--BoxBorderColor);
    text-decoration: none;
    border-left: 5px solid var(--BoxBorderColor);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* transform: skew(-5deg); */
}
.ImagePost {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ImagePostDate {
    background-color: var(--BoxBorderColor);
    text-align: right;
    padding: 8px !important;
    margin: 0;
    margin-top: -2px;
}

.LinkIcon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.Badge {
    font-size: 12px;
    background-color: #11111100;
    border: 2px solid var(--BoxBorderColor);
    /* border-radius: 10px; */
    padding: 6px 10px;
    margin-left: auto;
}

.GameContainer {
    text-decoration: none;
    width: 150px;
    height: 150px;
    overflow: hidden;
    padding: 10px;
    /* border-radius: 10px; */
    border: 2px solid var(--BoxBorderColor);
    background: #111;
    transform: translate(0%);
}
.GameBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(10px) brightness(0.4);
    background-image: url(GameIcons/TetheredDescent.webp);
    background-position: center;
}

/* @media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        align-items: stretch;
        max-width: 900px;
    }
} */